<extend name="Public/base" />
<block name="style">
<link rel="stylesheet" href="__PLUGINS__/jQuery-File-Upload/css/jquery.fileupload.css">
</block>
<block name="body">
<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="icon-info-sign"></i> 商品信息
								<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="icon-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="icon-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-expand" href="#">
											<i class="icon-resize-full"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="icon-remove"></i>
										</a>
									</div><!--end panel-tools-->
						</div><!-- end panel-heading -->
						<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<h1>{$goodsinfo.good_name}</h1><br/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="tabbable">
									<ul class="nav nav-tabs tab-padding tab-space-3 tab-blue">
										<li class="active"><a href="#good_info" data-toggle="tab">基本信息</a></li>
										<li><a href="#good_pic" data-toggle="tab">商品图片</a></li>
										<li><a href="#good_bz" data-toggle="tab">备注</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active good-info" id="good_info">
											<div class="row">
												<div class="col-md-6">
													<dl class="dl-horizontal">
														<dt><i class="icon-barcode"></i> 条码:</dt>
														<dd>{$goodsinfo.barcode}</dd>
														<dt><i class="icon-sitemap"></i> 分类:</dt>
														<dd>{$goodsinfo.category_id}</dd>
														<dt><i class="icon-exclamation-sign"></i> 计量单位:</dt>
														<dd>{$goodsinfo.units}</dd>
														<dt><i class="icon-user-md"></i> 供应商:</dt>
														<dd>{$goodsinfo.good_belong}</dd>
													</dl>
												</div>
																								<div class="col-md-6">
													<dl class="dl-horizontal">
														<dt><i class="icon-tags"></i> 规格:</dt>
														<dd>{$goodsinfo.good_spec}</dd>
														<dt><i class="icon-renminbi"></i> 零售价:</dt>
														<dd>{$goodsinfo.good_price}</dd>
														<dt><i class="icon-money"></i> 进价:</dt>
														<dd>{$goodsinfo.good_pur_price}</dd>
														<dt><i class="icon-truck"></i> 厍存:</dt>
														<dd>{$goodsinfo.good_num}</dd>
													</dl>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="good_pic">
											<div class="alert alert-success">
											<p>
												商品图片上传，可以添加单张或多张照片，请选适合该商品的图片
												<br>
												文件不能大于1M
											</p>
											</div>
											<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
												<div class="row fileupload-buttonbar">
													<div class="col-lg-7">
													 	<span class="btn btn-success fileinput-button">
                    										<i class="glyphicon glyphicon-plus"></i>
                    										<span>添加图片...</span>
                    										<input type="file" name="files" multiple><input type="hidden" name="good_id" value="{$goodsinfo.good_id}">
                										</span>
														<button type="submit" class="btn btn-primary start">
															<i class="glyphicon glyphicon-upload"></i>
															<span>开始上传</span>
														</button>
														<button type="reset" class="btn btn-warning cancel">
															<i class="glyphicon glyphicon-ban-circle"></i>
															<span>取消上传</span>
														</button>
														<button type="button" class="btn btn-danger delete">
															<i class="glyphicon glyphicon-trash"></i>
															<span>删除</span>
														</button>
														<input type="checkbox" class="toggle">
														<span clas"fileupload-loading"></span>
													</div>
													<div class="col-lg-5 fileupload-progress fade">
														<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
														<div class="progress-bar progress-bar-success" style="width:0%"></div>
														</div>
														<div class="progress-extended">
															&nbsp;
														</div>
													</div>
												</div>
												<table role="presentation" class="table table-striped">
													<tbody class="files"></tbody>
												</table>
											</form>
										</div>
										<div class="tab-pane" id="good_bz">34</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div><!-- end panel -->
				</div>
				</div><!--end col-md-12 -->
</div><!--end row-->
</block>
<block name="scriptinclude">
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
		<script src="__PLUGINS__/JavaScript-Templates/js/tmpl.js"></script>
		<script src="__PLUGINS__/JavaScript-Load-Image/js/load-image.js"></script>
		<script src="__PLUGINS__/JavaScript-Load-Image/js/load-image-meta.js"></script>
		<script src="__PLUGINS__/JavaScript-Canvas-to-Blob/js/canvas-to-blob.js"></script>
		<script src="__PLUGINS__/jQuery-Image-Gallery/js/jquery.image-gallery.js"></script>
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
		<!-- The basic File Upload plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload.js"></script>
		<!-- The File Upload processing plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
		<!-- The File Upload image preview & resize plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload-image.js"></script>
		<!-- The File Upload audio preview plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload-audio.js"></script>
		<!-- The File Upload video preview plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload-video.js"></script>
		<!-- The File Upload validation plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
		<!-- The File Upload user interface plugin -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>
		<!-- The main application script -->
		<script src="__PLUGINS__/jQuery-File-Upload/js/main.js"></script>
</block>