<extend name="Public/base" />
<block name="style">
	<link rel="stylesheet" href="__PLUGINS__/DataTables/media/css/DT_bootstrap.css">
</block>
<block name="body">
<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default navbar-static">
								<div class="navbar-header">
						          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#categorymenu">
						            <span class="sr-only">Toggle navigation</span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						          </button>
						          <a class="navbar-brand" href="{:U('index')}">分类菜单</a>
						        </div>
								<div class="collapse navbar-collapse bs-js-navbar-collapse" id="categorymenu">
								
									<ul class="nav navbar-nav" id="menutree">
									</ul>
								
									<form class="navbar-form navbar-right" action="{:U('Good/index')}">
									<div class="form-group">
									 	<input type="text" name="query" class="form-control" placeholder="Search">
									 </div>
									</form>
								</div>
					</nav>
				</div>
</div>
<div class="row">		
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="icon-barcode"></i> 用户列表
							<div class="panel-tools">
										<a class="btn btn-xs btn-link panel-collapse collapses" href="#">
										</a>
										<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
											<i class="icon-wrench"></i>
										</a>
										<a class="btn btn-xs btn-link panel-refresh" href="#">
											<i class="icon-refresh"></i>
										</a>
										<a class="btn btn-xs btn-link panel-expand" href="#">
											<i class="icon-resize-full"></i>
										</a>
										<a class="btn btn-xs btn-link panel-close" href="#">
											<i class="icon-remove"></i>
										</a>
									</div>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
							<?php
							//dump($_list);
							$thead = array(
									'id'             => 'ID',
									'username'        => '用户名',
									'email'        => 'Email',
									'last_login_time'      => '最后登录时间',
									'操作'             => array(
											'查看'=>array( 'href' => 'Good/info?id=$id','class'=>'btn btn-green',),
											'禁用'=>array( 'href' => 'Article/setStatus?status=0&ids=$id', 'class'=>'btn btn-danger', 'condition'=>'$status==1',),
											'启用'=>array( 'href' => 'Article/setStatus?status=1&ids=$id', 'class'=>'btn btn-danger', 'condition'=>'$status==0',),
										),
								);
							echo $_talellist = $__controller__->tableList($_list,$thead);
							?>
							</div>
							<div class="col-md-12">
								<div class="dataTables_paginate paging_bootstrap">  
							 		{$_page}
							 	</div>
						 	</div>
						</div>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
</block>
<block name="script">
</block>